*{
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
main{
    width: 22rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 30px ;
    background-color: black;
    font-size: 2rem;
    font-weight: 550;
}
header{
    width: 20rem;
    height: 12rem;
}
div.container{
    display: grid;
    width: 20rem;
    height: 25rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 0.3rem;
}

.content{
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 0.4;
    background-color: rgb(100, 100, 100);
    color: white;
    cursor: pointer;
}
.content:hover{
    opacity: 70%;
}
.div17{
    grid-column: span 2;
    text-align: left;
    padding-left: 1.9rem;
    justify-content: left;
}
.div1, .div2, .div3{
    background-color: lightgray;
    color: black;
}
.div4, .div8, .div12, .div16{
    background-color: rgb(245, 154, 44);
}
